*{margin: 0;
padding: 0;
box-sizing: border-box;}
body{
    background-color: #412567;
}
header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  padding-top: 30px;
  color: white;
}
.headsix{
    padding-top: 8px;
    padding-bottom: 24px;
}
.btn{
    border-radius: 100%;
}
.heas{
    padding-bottom: 16px; ;
}
.heash{
    padding-bottom: 160px ;
   
}

nav{
    width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    list-style: none;
    align-items: center;
}
ul li a{
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.logo h2{
    font-size: 32px;
    font-weight: 500;
}
.Wave{
    color: lightcoral;
}
.button{
    margin-top: 10px;
    height: 50px;
    width: 120px;
    outline: none;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    z-index: 0;
  }
  .button::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    
    left: 0;
    top: 0;

  }
  .button::before{ content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FF7300, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    border-radius: 10px;
    opacity: 0;
  }

  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
    
  }
  .button:hover::before{
    opacity: 1;
  }
  .button:active:after {
    background: transparent;
  }
  .button:active{
    color: #000;
    font-weight: bold;
  }
.button button{
    background-color: lightcoral;
    padding: 12.5px 16px;
    border-radius: 4%
}  
.contain{
    background-image: url("../B13-A02-TechWave/assets/hero-bg.png");
    background-repeat: no-repeat;
    margin:0;
    margin-top: 20px ;
    width: 100%;
    height: auto;
    background-size: cover;
    margin: 0 auto;
     
}
.imgsection{
    align-items: center;
  position: relative;
    
    margin-top: 40px;
    justify-content: center;
   
    height: 400px;
    background-position: center;
    background-image: url("../B13-A02-TechWave/assets/hero-circle.png");
    background-repeat: no-repeat;
    border-radius: 4%;
}
.imgsection img{
    position: absolute;
    left: 46%;
    top: 25%;
}
.imgsection button{
    position: absolute;
    left: 893px;
    top: 25%;
    width: 75px;
    height: 38px;
    border-radius: 60px ;
    border: none;
    padding: 8 16px;
    font-size: large;
    background-color: #00FF88;

}
.first .second .third iframe{
    width: 380px;
    height: 214px;
    

}
.runingsection{
    align-items: center;
    background-color: #1A0B2E;
    background-size: cover;
    color: white;
    text-align: center;
    box-sizing: none;
    margin: 0 auto;

}
.aboutsection{
    padding-top: 50px;
}
.head-two{
    color: white;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
}

.middlebutton{
    display: flex;
    padding-bottom: 101px;
   gap: 2.4px;
   justify-content: center;
}
.middlebutton button{
    padding: 12.5px 20px 12.5px 48px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: pink;
    color: white;
}
#cls{
    background-color: transparent;
}
.diverabba{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 34%;
    gap: 80px;
    padding-bottom: 120px;
   
}
.diverabba h1{
    color: green;
}
.headthree{
    text-align: center;
    color: white;
    background: none;
}
.container>*{
    display: grid;
    margin-left: 200px;
    margin-right: 200px;
    gap: 30px;
    border-radius: 4%;
    background-color:#351165 ;
    padding-top: 112.5px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .thirdsection{
    background-color: #230E3D;
    color: white;
    padding-bottom: 140px ;
    margin: 0 auto;

  }
  .thirdsection h1{
    padding-top: 120px;
    padding-bottom: 40px;
  }
.one{
   grid-area: column;

  }
.two{grid-area: column;
    ;
}
.three{grid-area: row;
  
}
.four{ grid-area:row ;
    
}
.five{ grid-area: column;
    
  
}
.container{
    display: grid;
    gap:20px;
    background-size: cover; 
    grid-template-areas:
        "one two two two"
        "one three three three "
        "four four  four five";
    
}
p{
    color: green;
}
.foursection{
    background-color: #1A0B2E;
    margin: 0 auto;

}
.jakefour{
    padding-bottom: 40px;
    text-align: center;
}
.foursectiontwo{
    padding-top: 120px;
    padding-bottom: 120px;
    
    color: white;
}
.skill-box{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    
}
.first {
    padding-bottom:144px ;
    border-radius: 4%;
    width: 380px;
    background-color: #250D44;
}
.second {padding-bottom:144px ;
    border-radius: 4%;
    width: 380px;
    background-color: #250D44;
}

.third{
    padding-bottom:144px ;
    border-radius: 4%;
    width: 380px;
    background-color: #250D44;
}
.pop{
    height:auto;
    width: 100%;
   
   
}


.Meet{
    color: white;
    text-align: center;
    padding-bottom: 40px; ;
}
.alax{
    width: 1200px;
    background-color: #533C72;
    margin: 0 auto;
    display: flex;
    color: white;
    gap: 24px;
    border-radius: 40px;
    padding-bottom: 40px; 
    padding-left: 40px;
    padding-top: 40px;
    margin-bottom: 120px;
}
.alaxbaba{
    padding-top: 48.5px;
    
}
.alaxb{
    padding-top: 16px;
}
.alaxb img{
    border: 12.5 12.5px;
    border-color: #533C72;
}
.pach{
    padding-bottom: 120px;
}
.last{
    background-image: url("../B13-A02-TechWave/assets/footer-bg.png");
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 1600px;
    
}
.logo .list{
    gap: 42px;
    list-style: none;
    display: flex;
    text-decoration: none;
    margin-left: 600px;
    margin-top: 35.5px;
}
.copy{
    align-items: center;
    padding-top: 34.5px;
}