*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{
    background-color: #220e3f;
}
header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  padding-top: 30px;
  color: white;
}
.logo h2{
    font-size: 32px;
    font-weight: 500;
    padding-top: 20px;
}
.logo .Wave {color: pink;
}
.headimg{
   padding-top: 20px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    list-style: none;
    align-items: center;
    padding-top: 20px;
}
ul li a{
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.headsix{
    padding-top: 8px;
    padding-bottom: 24px;
}
.btn{
    border-radius: 100%;
}
.heas{
    padding-bottom: 16px; ;
}
.heash{
    padding-bottom: 160px ;
   
}

nav{
    width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.button{
    margin-top: 10px;
    height: 50px;
    width: 120px;
    outline: none;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    z-index: 0;
  }
  .button::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    
    left: 0;
    top: 0;

  }
  .button::before{ content: "";
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FF7300, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    border-radius: 10px;
    opacity: 0;
  }

  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
    
  }
  .button:hover::before{
    opacity: 1;
  }
  .button:active:after {
    background: transparent;
  }
  .button:active{
    color: #000;
    font-weight: bold;
  }
.button button{
    background-color: lightcoral;
    padding: 12.5px 16px;
    border-radius: 4%
}  
.contain{
    background-image: url("../B13-A02-TechWave/assets/hero-bg.png");
    background-repeat: no-repeat;
    margin:0;
    margin-top: 20px ;
    width: 100%;
    height: auto;
    background-size: cover;
    margin: 0 auto;
     
}
.imgsection{
    align-items: center;
  position: relative;
    
    margin-top: 40px;
    justify-content: center;
   
    height: 400px;
    background-position: center;
    background-image: url("../B13-A02-TechWave/assets/hero-circle.png");
    background-repeat: no-repeat;
    border-radius: 4%;
}
.imgsection img{
    position: absolute;
    left: 46%;
    top: 25%;
}
.imgsection button{
    position: absolute;
    left: 893px;
    top: 25%;
    width: 75px;
    height: 38px;
    border-radius: 60px ;
    border: none;
    padding: 8 16px;
    font-size: large;
    background-color: #00FF88;

}
.first .second .third iframe{
    width: 380px;
    height: 214px;
    

}
.runingsection{
    align-items: center;
    background-color: #1A0B2E;
    background-size: cover;
    color: white;
    text-align: center;
    box-sizing: none;
    margin: 0 auto;

}
.aboutsection{
    padding-top: 50px;
}
.head-two{
    color: white;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
}

.middlebutton{
    display: flex;
    padding-bottom: 101px;
   gap: 3px;
   justify-content: center;
}
.middlebutton button{
    padding: 12.5px 20px 12.5px 48px;
    border-radius: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
.middlebutton .btn{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    display: flex;
}
.middlebutton #id{
    display: flex;
   
}

#cls{
    background-color: transparent;
}
.diverabba{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 34%;
    gap: 80px;
    padding-bottom: 120px;
   
}
.diverabba h1{
    color: green;
}
.headthree{
    text-align: center;
    color: white;
    background: none;
}
.headthree h1{
    padding-top: 120px ;
}

.thirdsection{
    background-color: #230E3D;
    color: white;
    padding-bottom: 140px ;
    margin: 0 auto;
    width: 1600px;
    height: 1121px;

  }
.thirdsection h1{
    color: white;
  }
.container{
    display: grid;
    gap: 30px;
    max-width: 1200px;
    min-height: 783px;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 40px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,150px);
  }  
.container .one{ 
   border-radius: 40px;
   padding-top: 70px; 
   padding-left: 40px;
   padding-right: 40px;
   
   background-color: #351165;
   grid-row: 1/span 2 ;
   
  }
  .one h6{ padding-bottom: 107.5px;

  }
.container .two{border-radius: 4%;
    background-color: #351165;
    grid-column: 2/span2;
    padding-top: 30px; 
   padding-left: 40px;
   padding-right: 40px;
   
    
    
}
.container .three{border-radius: 4%;
    background-color: #351165;
    grid-column: 2/span2;
    padding-top: 30px; 
   padding-left: 40px;
   padding-right: 40px;
    
  
}
.container .four{border-radius: 4%;
    background-color: #351165;
    grid-column: 1/span 2;
    padding-top: 20px; 
   padding-left: 40px;
   padding-right: 40px;
 
    
    
}
.container .five{ border-radius: 4%;
    background-color: #351165;
    grid-column: 3/span 0;
    grid-row: 3/span 0;
    padding-top: 20px; 
   padding-left: 40px;
   padding-right: 40px;
    
    
  
}

p{
    color: green;
}
.foursection{
    background-color: #1A0B2E;
    margin: 0 auto;

}
.jakefour{
    padding-bottom: 40px;
    text-align: center;
}
.foursectiontwo{
    padding-top: 120px;
    padding-bottom: 120px;
    
    color: white;
}
.skill-box{
    display: flex;
    width: 1200px;
    height: 464px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    
}
.first {
    padding-bottom:144px ;
    border-radius: 4%;
    width: 380px;
    height: 440px;
    overflow: hidden;
    background-color: #250D44;
}
.second {padding-bottom:144px ;
    border-radius: 4%;
    width: 380px;
    height: 440px;
    overflow: hidden;
    background-color: #250D44;
}

.third{
    padding-bottom:144px ;
    border-radius: 4%;
    width: 380px;
    height: 440px;
    overflow: hidden;
    background-color: #250D44;
}
.pop{
    height:auto;
    width: 100%;
   }
.first h2{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
}  
.first h6{
    padding-left: 24px;
    padding-bottom: 12px;
} 
.first p{
    padding-left: 50px;
    padding-bottom: 24px;
}
.second h2{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
}
.second h6{
    padding-left: 24px;
    padding-bottom: 12px;
} 
.second p{
    padding-left: 50px;
    padding-bottom: 24px;
}
.third h2{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
}
.third h6{
    padding-left: 24px;
    padding-bottom: 12px;
} 
.third p{
    padding-left: 50px;
    padding-bottom: 24px;
}




.Meet{
    color: white;
    text-align: center;
    padding-bottom: 40px; ;
}
.alax{
    width: 1200px;
    background-color: #533C72;
    margin: 0 auto;
    display: flex;
    color: white;
    gap: 24px;
    border-radius: 40px;
    padding-bottom: 40px; 
    padding-left: 40px;
    padding-top: 40px;
    margin-bottom: 120px;
}
.alaxbaba{
    padding-top: 48.5px;
    
}
.alaxb{
    padding-top: 16px;
}
.alaxb img{
    border: 1px solid #f0edf3;
    padding: 10px;
    box-sizing: border-box;
    gap: 9px;
    border-color: #6f4d9a;
    border-radius: 100%;
}
.pach{
    padding-bottom: 120px;
}
.last{
    background-image: url("../B13-A02-TechWave/assets/footer-bg.png");
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 1600px;
    
}
.logo .list{
    gap: 42px;
    list-style: none;
    display: flex;
    text-decoration: none;
    margin-left: 600px;
    margin-top: 35.5px;
}
.copy{
    align-items: center;
    padding-top: 34.5px;
}